DM920/cortexa15hf-neon-vfpv4/libmariadb-staticdev_10.8.3-r0_cortexa15hf-neon-vfpv4.ipk filter=lfs diff=lfs merge=lfs -text
DM520/mips32el/libmariadb-staticdev_10.8.3-r0_mips32el.ipk filter=lfs diff=lfs merge=lfs -text
DM7080/mips32el/libmariadb-staticdev_10.8.3-r0_mips32el.ipk filter=lfs diff=lfs merge=lfs -text
/home/raed/Images-Feed-New/MyImagesFeeds-PY3/DM520/mips32el/libmariadb-staticdev_10.8.3-r0_mips32el.ipk filter=lfs diff=lfs merge=lfs -text
/home/raed/Images-Feed-New/MyImagesFeeds-PY3/DM7080/mips32el/libmariadb-staticdev_10.8.3-r0_mips32el.ipk filter=lfs diff=lfs merge=lfs -text
/home/raed/Images-Feed-New/MyImagesFeeds-PY3/DM920/cortexa15hf-neon-vfpv4/libmariadb-staticdev_10.8.3-r0_cortexa15hf-neon-vfpv4.ipk filter=lfs diff=lfs merge=lfs -text
